<div class="content">
<div class="subTopNav">
	<ul>
		<li><a href="#guild/{{id}}/current_war">War</a></li>
		<li><a href="#guild/{{id}}/last_wars">Last wars</a></li>
		<li><a href="#guild/{{id}}/members">Members</a></li>
	</ul>
</div>
<div>
	<span> {{this.name}}   |{{this.anagram}}| </span>
	<ul>
	<p> OWNER: </p>
	<ul>
		<li><a href="#profile/{{owner_id}}/">{{owner_nickname}}</a></li>
	</ul>
	<p> OFFICERS: </p>
	<ul>
	{{#each officers}}
		<li>
			<a href="#profile/{{id}}/">{{nickname}}</a>
		</li>
	{{/each}}
	</ul>
	<p> MEMBERS: </p>
	<ul>
	{{#each members}}
		<li>
			<a href="#profile/{{id}}/">{{nickname}}</a>
		</li>
	{{/each}}
	</ul>
</div>
</div>
