<div>
    {{#each row}}
        <div class="infos">
								<a href="#guild/{{id}}/">{{name}}</a>
								<span>{{anagram}}</span>
								<span>score:
									{{#if score}}
								 	{{score}}
									{{else}}
									0
									{{/if}}
									</span>
								<a href="#profile/{{owner_id}}/">owner: (owner, model User not loaded here yet: so i cannot print the name)</a>
        </div>
    {{/each}}
</div>
