<div class="content">
	<div id="profilePannel"></div>
	<div id="profileSubNavBar"></div>
	<ul>
		{{#each matchs}}
		<li>
			<span>{{result}}: </span>
			<a href="#profile/{{player_left_id}}/match_history">{{player_left_nickname}}</a>
			<span> {{game_type}} </span>
			<a href="#profile/{{player_right_id}}/match_history">{{player_right_nickname}}</a>
			<span>date:   {{created_at}} </span>
			{{/each}}
	</ul>
</div>
