<div class="profileOverview">
<span class="nickname">name: {{nickname}}</span>
<a class="Guild" href="#guild/{{user_guild_id}}/members_view">Guild: {{user_guild}}</a>
<span class="mmr">mmr: {{user_mmr}}</span>
<span class="ladder">Ladder: {{user_ladder}}</span>
</div>
