<div class="subTopNav">
	<ul>
		<li><a href="#profile/{{id}}/match_history">Matches</a></li>
		<li><a href="#profile/{{id}}/achivements">Achivements</a></li>
		{{#if guild_id}}
			<li><a href="#guild/{{guild_id}}/">Guild</a></li>
		{{else}}
			<li><a href="#profile/{{id}}/no_guild">Guild</a></li>
		{{/if}}
		<li><a href="#profile/{{id}}/friends">friends</a></li>
	</ul>
</div>
