<div class="topnav {{#if home}}{{active}}{{/if}}">
  <a class="btn {{#if home}}{{active}}{{/if}}logo" href="#home"></a>
  <a class="btn tournaments{{#if tournaments}} {{active}}{{/if}}" href="#tournaments">Tournaments</a>
  <a class="btn{{#if leaderboard}} {{active}}{{/if}}" href="#leaderboard">Leaderboard</a>
  <a class="btn {{#if guilds}} {{active}} {{/if}} guilds" href="#guilds">Guilds</a>
  <a class="span"></a>
  <a class="btn {{#if chat}} {{active}} {{/if}} chat" href="#chat"></a>
  <a class="btn" href="#user_page">
    <img src={{profile_pic}} class="profile_pic"></img>
    <a class="btn {{#if user_page}} {{active}} {{/if}} user" href="#user_page">{{user}}</a>
  </a>
  <a class="exit" href="#exit"></a>
</div>
